.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.entradas {
  flex-direction: column;
}

input{
  max-width: 2em;
  font-size: 3em;
}

h1{
  font-size: 5em;
  font-family: fantasy;
  color: #76a38e;
}

button {
  font-size: 4em;
  background-color: #76a38e;
  border: 0px;
  color: white;
  elevation: 20px;
}

#NumSort{
  list-style: none;
  font-size: 3em;
  padding:0px;
  margin:0px;
  display: flex;
  flex-direction: row;
}

.result {
  margin-top: 20px;
  margin-right: 20px;
}

p{
  font-size: 2em;
  color: #76a38e;
}
